html {
	height: 100vh;
	width: 100vw;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	color: #FFF;
}
body {
	background-image: url("Night.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
#main {
	background-image: url("bgpattern.png");
	background-size: 24px 13.5px;
	margin: 0 10%;
	width: 80%;
	height: 100%;
	border: 6px ridge #999;
	border-top: 0;
	border-bottom: 0;
}
#header {
	background-image: linear-gradient(#333, #333, #333, #222);
	border-bottom: 5px ridge #222;
}
#header .btn {
	min-width: 10%;
	color: #D00;
	font-family: Fantasy;
	font-size: 25px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	padding: 0 10px;
	margin: 4px 0;
	text-align: center;
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}
#header .btn:hover {
	color: #F00;
}
#header .bt {
	width: 2px;
	height: 100%;
	display: inline;
	background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1),  rgba(35, 35, 35, 0), rgba(35, 35, 35, 0));
	background-size: 2px 100%;
	background-position: center;
	background-repeat: no-repeat;	
}
#banner {
	border-bottom: 6px ridge #999;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	background-color: #000;
	padding: 5px 15% 0;
}
#banner #Ilogo {
	width: 11.6071%;
	margin-right: 5px;
}
#banner #Ibanner {
	width: 85.9374%;	
}
#_tooltip {
	position: absolute;
	color: #F00;
	max-width: 256px;
	font-family: fantasy;
	font-size: 16px;
	border: 4px ridge #888;
	border-radius: 5px;
	background-color: #000;
	padding: 2px 6px 4px;
	opacity: 0;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}
#page {
	margin: 20px 2.5% 20px 2.5%;
	width: 65%;
	height: 100%;
	float: left;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}
#side {
	margin: 20px 2.5% 20px 2.5%;
	width: 25%;
	height: 100vh;
	float: right;
}
.item h2 {
	font-family: 'BOAH', Arial, sans-serif;
	margin-bottom: 0;
	color: #F00;
}
#page .item h2 {
	font-size: 46px;
	text-align: left;
}
#side .item h2 {
	font-size: 32px;
	text-align: right;
}
.item hr {
	border-color: #B00;
	margin: 0 0 10px;
}
.item div {
	margin: 0 5%;
}
#footer {
	width: 100%;
	clear: both;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
@font-face {
	font-family: 'BOAH';
	src: url('font/boah.eot');
	src: url('font/boah.eot?#iefix') format('embedded-opentype'),
		 url('font/boah.woff') format('woff'),
		 url('font/boah.ttf') format('truetype'),
		 url('font/boah.svg#birth_of_a_heroregular') format('svg');
	font-style: normal;
}